In [47]:
#!git clone https://github.com/PhonePe/pulse.git

In [48]:
import pandas as pd
import json
import os

In [49]:
aggre_trans_path="./pulse/data/aggregated/transaction/country/india/state/"
aggre_user_path="./pulse/data/aggregated/user/country/india/state/"
map_trans_path="./pulse/data/map/transaction/hover/country/india/state/"
map_user_path="./pulse/data/map/user/hover/country/india/state/"
top_trans_path="./pulse/data/top/transaction/country/india/state/"
top_user_path="./pulse/data/top/user/country/india/state/"

state_list = os.listdir(aggre_trans_path)

In [50]:
trans_dict={"State":[],"Year":[],"Quater":[],"Trans_fromDT":[],"Trans_toDT":[], "Trans_type":[], "Trans_count":[], "Trans_amount":[]}
for i in state_list:
    subpath_i=aggre_trans_path+i+'/'
    yrs=os.listdir(subpath_i)
    for j in yrs:
        subpath_j=subpath_i+j+'/'
        yrs_list=os.listdir(subpath_j)
        for k in yrs_list:
            subpath_k=subpath_j+k
            data=open(subpath_k,'r')
            read_data=json.load(data)
            from_date = pd.to_datetime(int(read_data['data']["from"]),unit='ms')
            to_date = pd.to_datetime(int(read_data['data']["to"]),unit='ms')
            
            for x in read_data['data']["transactionData"]:
                tr_type=x['name']
                count=x['paymentInstruments'][0]['count']
                amount=x['paymentInstruments'][0]['amount']
                trans_dict['Trans_type'].append(tr_type)
                trans_dict['Trans_count'].append(count)
                trans_dict['Trans_amount'].append(amount)
                trans_dict['State'].append(i)
                trans_dict['Year'].append(j)
                trans_dict['Quater'].append(int(k.strip('.json')))
                trans_dict["Trans_fromDT"].append(from_date)
                trans_dict["Trans_toDT"].append(to_date)

Aggr_Trans=pd.DataFrame(trans_dict)
Aggr_Trans

,State,Year,Quater,Trans_fromDT,Trans_toDT,Trans_type,Trans_count,Trans_amount
0,andaman-&-nicobar-islands,2018,1,2017-12-31 18:30:00,2018-03-27 18:30:00,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,2017-12-31 18:30:00,2018-03-27 18:30:00,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,2017-12-31 18:30:00,2018-03-27 18:30:00,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,2017-12-31 18:30:00,2018-03-27 18:30:00,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,2017-12-31 18:30:00,2018-03-27 18:30:00,Others,256,1.846899e+05
...,...,...,...,...,...,...,...,...
4129,west-bengal,2023,3,2023-06-30 18:30:00,2023-09-27 18:30:00,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,2023-06-30 18:30:00,2023-09-27 18:30:00,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,2023-06-30 18:30:00,2023-09-27 18:30:00,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,2023-06-30 18:30:00,2023-09-27 18:30:00,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,2023-06-30 18:30:00,2023-09-27 18:30:00,Others,532474,4.232851e+08

In [51]:
#trans_dict={"brand":"","count":0,"percentage":0.0,"registered_user":0,"appopens":0}
trans_dict={"State":[],"Year":[],"Quater":[], "brand":[], "count":[], "Percentage":[]}
for i in state_list:
    subpath_i=aggre_user_path+i+'/'
    yrs=os.listdir(subpath_i)
    for j in yrs:
        subpath_j=subpath_i+j+'/'
        yrs_list=os.listdir(subpath_j)
        for k in yrs_list:
            subpath_k=subpath_j+k
            data=open(subpath_k,'r')
            read_data=json.load(data)
            new_dict={}
            if read_data['data']["usersByDevice"] != None:
                for x in read_data['data']["usersByDevice"]:
                    brand=x['brand']
                    count=x['count']
                    perc=x['percentage']
                    trans_dict['brand'].append(brand)
                    trans_dict['count'].append(int(count))
                    trans_dict['Percentage'].append(float(amount))
                    trans_dict['State'].append(i)
                    trans_dict['Year'].append(j)
                    trans_dict['Quater'].append(int(k.strip('.json')))
            #trans_list.append(new_dict)

Aggr_user=pd.DataFrame(trans_dict)
Aggr_user

                          State  Year  Quater    brand    count   Percentage
0     andaman-&-nicobar-islands  2018       1   Xiaomi     1665  423285145.0
1     andaman-&-nicobar-islands  2018       1  Samsung     1445  423285145.0
2     andaman-&-nicobar-islands  2018       1     Vivo      982  423285145.0
3     andaman-&-nicobar-islands  2018       1     Oppo      501  423285145.0
4     andaman-&-nicobar-islands  2018       1  OnePlus      332  423285145.0
...                         ...   ...     ...      ...      ...          ...
6727                west-bengal  2022       1   Lenovo   330017  423285145.0
6728                west-bengal  2022       1  Infinix   284678  423285145.0
6729                west-bengal  2022       1     Asus   280347  423285145.0
6730                west-bengal  2022       1    Apple   277752  423285145.0
6731                west-bengal  2022       1   Others  2196334  423285145.0

[6732 rows x 6 columns]

In [52]:
Aggr_user["brand"].unique()

array(['Xiaomi', 'Samsung', 'Vivo', 'Oppo', 'OnePlus', 'Realme', 'Apple',
       'Motorola', 'Lenovo', 'Huawei', 'Others', 'Tecno', 'Gionee',
       'Infinix', 'Asus', 'Micromax', 'HMD Global', 'Lava', 'COOLPAD',
       'Lyf'], dtype=object)

In [53]:
trans_dict={"State":[],"Year":[],"Quater":[],"District_name":[], "Trans_count":[], "Trans_amount":[]}
for i in state_list:
    subpath_i=map_trans_path+i+'/'
    yrs=os.listdir(subpath_i)
    for j in yrs:
        subpath_j=subpath_i+j+'/'
        yrs_list=os.listdir(subpath_j)
        for k in yrs_list:
            subpath_k=subpath_j+k
            data=open(subpath_k,'r')
            read_data=json.load(data)
            
            for x in read_data['data']["hoverDataList"]:
                Name=x['name']
                tr_type=x['metric'][0]['type']
                count=x['metric'][0]['count']
                amount=x['metric'][0]['amount']
                trans_dict['District_name'].append(Name)
                trans_dict['Trans_count'].append(count)
                trans_dict['Trans_amount'].append(amount)
                trans_dict['State'].append(i)
                trans_dict['Year'].append(j)
                trans_dict['Quater'].append(int(k.strip('.json')))

map_Trans=pd.DataFrame(trans_dict)
map_Trans

,State,Year,Quater,District_name,Trans_count,Trans_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,west-bengal,2023,3,nadia district,30146530,5.787869e+10
16828,west-bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,west-bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,west-bengal,2023,3,maldah district,28539407,5.299766e+10
16831,west-bengal,2023,3,darjiling district,14747572,2.463195e+10

In [54]:
trans_list=[]
for i in state_list:
    subpath_i=map_user_path+i+'/'
    yrs=os.listdir(subpath_i)
    for j in yrs:
        subpath_j=subpath_i+j+'/'
        yrs_list=os.listdir(subpath_j)
        for k in yrs_list:
            subpath_k=subpath_j+k
            data=open(subpath_k,'r')
            read_data=json.load(data)
            for x,y in read_data['data']["hoverData"].items():
                new_dict={}
                new_dict['State']=i
                new_dict['Year']= j
                new_dict['Quater']= int(k.strip('.json'))
                new_dict['District']=x
                new_dict['registeredUsers'] = y["registeredUsers"]
                new_dict['appOpens']=y["appOpens"]
                trans_list.append(new_dict)
map_user=pd.DataFrame(trans_list)
map_user

,State,Year,Quater,District,registeredUsers,appOpens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [55]:
trans_dict={"State":[],"Year":[],"Quater":[],"District":[], "count":[], "amount":[]}
for i in state_list:
    subpath_i=top_trans_path+i+'/'
    yrs=os.listdir(subpath_i)
    for j in yrs:
        subpath_j=subpath_i+j+'/'
        yrs_list=os.listdir(subpath_j)
        for k in yrs_list:
            subpath_k=subpath_j+k
            data=open(subpath_k,'r')
            read_data=json.load(data)
            for x in read_data['data']["pincodes"]:
                Name=x['entityName']
                count=x['metric']['count']
                amount=x['metric']['amount']
                trans_dict['District'].append(Name)
                trans_dict['count'].append(count)
                trans_dict['amount'].append(amount)
                trans_dict['State'].append(i)
                trans_dict['Year'].append(j)
                trans_dict['Quater'].append(int(k.strip('.json')))

top_Trans=pd.DataFrame(trans_dict)
top_Trans

                          State  Year  Quater District    count        amount
0     andaman-&-nicobar-islands  2018       1   744101     1622  2.769298e+06
1     andaman-&-nicobar-islands  2018       1   744103     1223  2.238042e+06
2     andaman-&-nicobar-islands  2018       1   744102      969  3.519060e+06
3     andaman-&-nicobar-islands  2018       1   744105      685  1.298561e+06
4     andaman-&-nicobar-islands  2018       1   744104      340  1.039715e+06
...                         ...   ...     ...      ...      ...           ...
8205                west-bengal  2023       3   700001  3536928  7.193522e+09
8206                west-bengal  2023       3   721301  3464729  4.871566e+09
8207                west-bengal  2023       3   700039  3405551  5.095825e+09
8208                west-bengal  2023       3   732125  3347165  5.353831e+09
8209                west-bengal  2023       3   700015  3304464  5.003674e+09

[8210 rows x 6 columns]

In [56]:
trans_dict={"State":[],"Year":[],"Quater":[],"District":[], "reg_users":[]}
for i in state_list:
    subpath_i=top_user_path+i+'/'
    yrs=os.listdir(subpath_i)
    for j in yrs:
        subpath_j=subpath_i+j+'/'
        yrs_list=os.listdir(subpath_j)
        for k in yrs_list:
            subpath_k=subpath_j+k
            data=open(subpath_k,'r')
            read_data=json.load(data)
            for x in read_data['data']["pincodes"]:
                Name=x['name']
                reg_user=x['registeredUsers']
                trans_dict['District'].append(Name)
                trans_dict['reg_users'].append(reg_user)
                trans_dict['State'].append(i)
                trans_dict['Year'].append(j)
                trans_dict['Quater'].append(int(k.strip('.json')))

top_user=pd.DataFrame(trans_dict)
top_user

                          State  Year  Quater District  reg_users
0     andaman-&-nicobar-islands  2018       1   744103       1608
1     andaman-&-nicobar-islands  2018       1   744101       1108
2     andaman-&-nicobar-islands  2018       1   744105       1075
3     andaman-&-nicobar-islands  2018       1   744102       1006
4     andaman-&-nicobar-islands  2018       1   744104        272
...                         ...   ...     ...      ...        ...
8206                west-bengal  2023       3   700015     122316
8207                west-bengal  2023       3   742304     119245
8208                west-bengal  2023       3   721101     118798
8209                west-bengal  2023       3   700150     114987
8210                west-bengal  2023       3   734006     113991

[8211 rows x 5 columns]

In [57]:
Aggr_Trans.isnull().sum()

State           0
Year            0
Quater          0
Trans_fromDT    0
Trans_toDT      0
Trans_type      0
Trans_count     0
Trans_amount    0
dtype: int64

In [58]:
Aggr_user.isnull().sum()

State         0
Year          0
Quater        0
brand         0
count         0
Percentage    0
dtype: int64

In [59]:
map_Trans.isnull().sum()

State            0
Year             0
Quater           0
District_name    0
Trans_count      0
Trans_amount     0
dtype: int64

In [60]:
map_user.isnull().sum()

State              0
Year               0
Quater             0
District           0
registeredUsers    0
appOpens           0
dtype: int64

In [61]:
top_Trans.isnull().sum()

State       0
Year        0
Quater      0
District    2
count       0
amount      0
dtype: int64

In [62]:
df1 = top_Trans[top_Trans.isna().any(axis=1)]
print (df1)

       State  Year  Quater District  count        amount
3963  ladakh  2019       4     None   2014  1.009866e+07
4005  ladakh  2020       4     None  13717  3.671160e+07

In [63]:
top_Trans.loc[(top_Trans['State'] == 'ladakh') & (top_Trans['Year'] == '2020')&(top_Trans['District'].isna()),'District']='194105'
top_Trans.loc[(top_Trans['State'] == 'ladakh') & (top_Trans['Year'] == '2019')&(top_Trans['District'].isna()),'District']='194703'
top_Trans.loc[(top_Trans['State'] == 'ladakh') & (top_Trans['Year'] == '2019') & (top_Trans['District']=='194109') & (top_Trans['Quater']==4),'District']='194105'

In [64]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-8.2.0-cp312-cp312-win_amd64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Using cached protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
Using cached mysql_connector_python-8.2.0-cp312-cp312-win_amd64.whl (14.2 MB)
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.25.1
    Uninstalling protobuf-4.25.1:
      Successfully uninstalled protobuf-4.25.1
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [65]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\python-guvi\capstone\phonepe_pulse\.venv\lib\site-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\python-guvi\capstone\phonepe_pulse\.venv\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\python-guvi\capstone\phonepe_pulse\.venv\lib\site-packages (from sqlalchemy) (3.0.2)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [66]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    #database="PhonePe"
)

mycursor = mydb.cursor(buffered=True)

In [67]:
mycursor.execute("SHOW DATABASES")
for i in mycursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [68]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS PhonePe")

In [69]:
import sqlalchemy

In [70]:
sql_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format('root', '', 'localhost', 'phonepe'))

In [71]:
Aggr_Trans.to_sql(con=sql_connection,name='Aggregated_trans', if_exists='append',index=False,chunksize=50)

C:\Users\elaya\AppData\Local\Temp\ipykernel_16312\4177749311.py:1: UserWarning: The provided table name 'Aggregated_trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Aggr_Trans.to_sql(con=sql_connection,name='Aggregated_trans', if_exists='append',index=False,chunksize=50)

-83

In [72]:
Aggr_user.to_sql(con=sql_connection,name='Aggregated_user', if_exists='append',index=False,chunksize=50)

C:\Users\elaya\AppData\Local\Temp\ipykernel_16312\1955414702.py:1: UserWarning: The provided table name 'Aggregated_user' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Aggr_user.to_sql(con=sql_connection,name='Aggregated_user', if_exists='append',index=False,chunksize=50)

-135

In [73]:
map_Trans.to_sql(con=sql_connection,name='map_trans', if_exists='replace',index=False,chunksize=50)

-337

In [74]:
map_user.to_sql(con=sql_connection,name='map_user', if_exists='replace',index=False,chunksize=50)

-337

In [75]:
top_Trans.to_sql(con=sql_connection,name='top_trans', if_exists='append',index=False,chunksize=50)

-165

In [76]:
top_user.to_sql(con=sql_connection,name='top_user', if_exists='append',index=False,chunksize=50)

-165

In [77]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="phonepe"
)
my_sql_cursor = mydb.cursor(buffered=True)

sql_query = f"""select State,sum(Trans_count) from Aggregated_trans group by State"""
my_sql_cursor.execute(sql_query)
result = my_sql_cursor.fetchall()
df = pd.DataFrame(result, columns=['State', 'Trans_count'])# Fetch the result into a Pandas DataFrame
df['State']=df['State'].str.replace('-',' ')
df['State']=df['State'].str.title()
df['State'].replace("Andaman & Nicobar Islands", "Andaman & Nicobar",inplace = True)
df['State'].replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu",inplace = True)
df

                                       State  Trans_count
0                          Andaman & Nicobar     15829874
1                             Andhra Pradesh   9248341606
2                          Arunachal Pradesh     58480230
3                                      Assam    948049414
4                                      Bihar   4711432484
5                                 Chandigarh    125242273
6                               Chhattisgarh   1689247604
7   Dadra and Nagar Haveli and Daman and Diu     84497948
8                                      Delhi   4713503838
9                                        Goa    176575027
10                                   Gujarat   3310961716
11                                   Haryana   3210970956
12                          Himachal Pradesh    266518406
13                           Jammu & Kashmir    322323729
14                                 Jharkhand   1855957062
15                                 Karnataka  15851869593
16                                    Kerala   1296910375
17                                    Ladakh     15256028
18                               Lakshadweep       274999
19                            Madhya Pradesh   7025112483
20                               Maharashtra  16592144890
21                                   Manipur     50877733
22                                 Meghalaya     35469608
23                                   Mizoram      9368278
24                                  Nagaland     26210753
25                                    Odisha   4211145872
26                                Puducherry     93038901
27                                    Punjab    928636246
28                                 Rajasthan   8361862049
29                                    Sikkim     31364399
30                                Tamil Nadu   4258533184
31                                 Telangana  14124623312
32                                   Tripura     56521660
33                             Uttar Pradesh   8205216641
34                               Uttarakhand    728551351
35                               West Bengal   4324605028

In [78]:
import pandas as pd
import plotly.express as px

In [79]:

fig = px.choropleth(
    df,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='State',
    color='Trans_count',
    color_continuous_scale='Reds'
)

fig.update_geos(fitbounds="locations", visible=False)

fig.show()

In [80]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="phonepe"
)
my_sql_cursor = mydb.cursor(buffered=True)

sql_query = f"""select State,Trans_type,Trans_count from Aggregated_trans where Year='2023' and Quater=3 group by State,Trans_type"""
my_sql_cursor.execute(sql_query)
result = my_sql_cursor.fetchall()
df = pd.DataFrame(result, columns=['State', 'Trans_type','Trans_count'])# Fetch the result into a Pandas DataFrame
df['State']=df['State'].str.replace('-',' ')
df['State']=df['State'].str.title()
df['State'].replace("Andaman & Nicobar Islands", "Andaman & Nicobar",inplace = True)
df['State'].replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu",inplace = True)
df

                 State                Trans_type  Trans_count
0    Andaman & Nicobar        Financial Services         2199
1    Andaman & Nicobar         Merchant payments      1657848
2    Andaman & Nicobar                    Others         3183
3    Andaman & Nicobar     Peer-to-peer payments      1111211
4    Andaman & Nicobar  Recharge & bill payments       323935
..                 ...                       ...          ...
175        West Bengal        Financial Services       389751
176        West Bengal         Merchant payments    296965002
177        West Bengal                    Others       532474
178        West Bengal     Peer-to-peer payments    271150280
179        West Bengal  Recharge & bill payments     63055684

[180 rows x 3 columns]

In [81]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="phonepe"
)
my_sql_cursor = mydb.cursor(buffered=True)
sql_query = f"""SELECT distinct(district_name),state, SUM(Trans_amount) as TransAmount,RANK() OVER (PARTITION BY state ORDER BY TransAmount) as Rank from map_trans GROUP by state,District_name ORDER BY state,Rank DESC"""
my_sql_cursor.execute(sql_query)
result = my_sql_cursor.fetchall()
df = pd.DataFrame(result, columns=['District','State','Amount','Rank']) 
df=df[df["Rank"] <= 3]
df

,District,State,Amount,Rank
0,south andaman district,andaman-&-nicobar-islands,2.928753e+10,3
1,north and middle andaman district,andaman-&-nicobar-islands,2.798310e+09,2
2,nicobars district,andaman-&-nicobar-islands,1.572340e+09,1
13,ysr district,andhra-pradesh,1.174286e+12,3
14,srikakulam district,andhra-pradesh,6.888074e+11,2
...,...,...,...,...
707,champawat district,uttarakhand,1.011138e+10,2
708,bageshwar district,uttarakhand,6.886610e+09,1
729,dakshin dinajpur district,west-bengal,6.777166e+10,3
730,jhargram district,west-bengal,3.461081e+10,2
731,kalimpong district,west-bengal,1.047498e+10,1

In [82]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="phonepe"
)
my_sql_cursor = mydb.cursor(buffered=True)

sql_query = f"""select State,Year,Quater,Trans_type,sum(Trans_count),sum(Trans_amount) from Aggregated_trans group by State,Year,Quater,Trans_type"""
my_sql_cursor.execute(sql_query)
result = my_sql_cursor.fetchall()
df = pd.DataFrame(result, columns=['State','Year','Quater','Trans_type','count','Amount']) 
df['State']=df['State'].str.replace('-',' ')
df['State']=df['State'].str.title()
df['State'].replace("Andaman & Nicobar Islands", "Andaman & Nicobar",inplace = True)
df['State'].replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu",inplace = True)
df

,State,Year,Quater,Trans_type,count,Amount
0,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
1,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
2,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
3,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
4,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
...,...,...,...,...,...,...
4129,West Bengal,2023,3,Financial Services,389751,4.249856e+08
4130,West Bengal,2023,3,Merchant payments,296965002,2.004404e+11
4131,West Bengal,2023,3,Others,532474,4.232851e+08
4132,West Bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4133,West Bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10

In [83]:
df['Amount'].sum()

188850513988356.5

In [84]:
df2=df[(df["Year"] == '2023') & (df['Quater'] == 3)]
df2

,State,Year,Quater,Trans_type,count,Amount
110,Andaman & Nicobar,2023,3,Financial Services,2199,3.850023e+06
111,Andaman & Nicobar,2023,3,Merchant payments,1657848,1.289780e+09
112,Andaman & Nicobar,2023,3,Others,3183,2.346918e+06
113,Andaman & Nicobar,2023,3,Peer-to-peer payments,1111211,3.757627e+09
114,Andaman & Nicobar,2023,3,Recharge & bill payments,323935,1.579924e+08
...,...,...,...,...,...,...
4129,West Bengal,2023,3,Financial Services,389751,4.249856e+08
4130,West Bengal,2023,3,Merchant payments,296965002,2.004404e+11
4131,West Bengal,2023,3,Others,532474,4.232851e+08
4132,West Bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4133,West Bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10